/* 
    Blue HEX #007AC2 hsl(202, 100%, 38%)
    Beige HEX #E0CF9C hsl(45, 52%, 75%)
*/
@font-face {
    font-family: "presa";
    src: url("/fonts/Presa_ultralight.ttf");
}
@font-face {
    font-family: "lato";
    src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "lato-light";
    src: url("/fonts/Lato-Light.ttf");
}
@font-face {
    font-family: "lato-medium";
    src: url("/fonts/Lato-Medium.ttf");
}

body {
    background-color: hsl(45, 52%, 90%);    
}

h1 {
    text-align: center;
    width: 50%;
    font-size: 60px;
    position: fixed;
    left: 25%;
    top: 40%;
    color: hsl(202, 100%, 38%);
    font-family: "presa", "lato", sans-serif;
}
.main {
    margin-right: 20vw;
    padding-right: 0.5vw;
}
.sidenav {
    text-transform: uppercase;
    height: 100%;
    width: 20vw;
    position: fixed;
    Top:0;
    left:80vw;
    z-index: 1;
    overflow-x: hidden;
    border-left-width: 0.3vw;
    border-left-color: hsl(202, 100%, 38%);
    border-left-style: solid;
    padding-top: 32.5vh;
    }

.sidenav a{
    font-family: "presa", "lato", sans-serif;
    font-size: 3vh;
    font-weight: 800;
    color: hsl(202, 100%, 38%);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 2vh 0.1vw 2vh 0.1vw;

}

.sidenav a:hover{
    background-color: hsl(45, 52%, 75%);
}

.sidenav a.active{
    background-color: hsl(45, 52%, 75%);
}

#movingLine {
    background-color: hsl(45, 52%, 75%);
    position:fixed;
    left: 25%;
    top: 40%;
    height: 1%;
    width: 50%;
    animation-name: line-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes line-move {
    0% {
        width: 1%;
        left: 25%;
    }
    25% {
        width: 50%;
        left:25%;
    }
    50% {
        width: 1%;
        left:74%;
    }
    75% {
        width: 50%;
        left:25%;
    }
    100% {
        width: 1%;
        left: 25%;
    }
}