body {
    background-color: ivory;
    font-family: Barlow, monospace;
}
h1 {
    text-align: center;
    height: 20%;
    width: 20%;
    position: fixed;
    left: 40%;
    top: 40%;
    color: rgb(0, 183, 255)

}